.card {
  max-width: 345px;
  background-color: $card-color;
  padding: 1em;
  border-radius: 15px;

  &__img {
    img {
      width: 100%;
    }
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
