.card {
  max-width: 345px;
  background-color: $card-color;
  border-radius: 15px;
  text-align: center;

  &__img {
    img {
      width: 100%;
      border-radius: 15px 15px 0 0;
    }
  }

  &__text {
    padding: 2em;
  }

  &__plan {
    @include flexCenter;
    margin-top: 2em;
    background-color: $alternate-color;
    padding: 1em;
    border-radius: 15px;
  }

  &__plan > div + div {
    margin: 0 1em;
  }
}
