$background-color: hsl(225, 100%, 94%);
$card-color: hsl(225, 100%, 98%);
$text-color1: hsl(215, 51%, 70%);
$text-color2: hsl(178, 100%, 50%);
$white-color: hsl(0, 0%, 100%);

$alternate-color: hsl(215, 32%, 27%);

// Pale blue:
// - Bright blue: hsl(245, 75%, 52%)

// ### Neutral

// - Very pale blue:
// - Desaturated blue: hsl(224, 23%, 55%)
// - Dark blue: hsl(223, 47%, 23%)
