$background-color: hsl(225, 100%, 94%);
$card-color: hsl(225, 100%, 98%);
$white-color: hsl(0, 0%, 100%);
$purple-color: hsl(245, 75%, 52%);

$alternate-color: hsl(225, 33%, 95%);

// Pale blue:
// - Bright blue:

// ### Neutral

// - Very pale blue:
// - Desaturated blue: hsl(224, 23%, 55%)
// - Dark blue: hsl(223, 47%, 23%)
